

  .sidebar{
    width: 300px;
    height: 100vh;
    //background: #f1f1f1;
    position: fixed;

    &.inline-mode{
      width: 50px;
    }
  }
  .content{
    //background: white;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
  }

  .menu-item{
    @apply flex gap-x-2 items-center text-neutral-700 dark:text-neutral-300 font-normal hover:bg-green-300/20 p-2 cursor-pointer
  }

  .menu-item_inline{
    cursor: pointer;

    .menu-item-tooltip {
      display: none;
    }
    .menu-item-icon:hover ~ .menu-item-tooltip {
        display: block;
    }



    // nested sub menu

    .menu-item-tooltip-sub {
      display: none;
    }
    .menu-item-icon-sub:hover ~ .menu-item-tooltip-sub {
      display: block;
    }

  }

