
.loading {

    span {
        display: inline-block;
        vertical-align: middle;
        width: 1.5em;
        height: 1.5em;
        margin: .19em;
        background: #81ff81;
        border-radius: 1em;
        animation: loading 1s infinite alternate;
        &:nth-of-type(2) {
            background: #71e371;
            animation-delay: 0.2s;
        }

        &:nth-of-type(3) {
            background: #63dc63;
            animation-delay: 0.4s;
        }

        &:nth-of-type(4) {
            background: #54d254;
            animation-delay: 0.6s;
        }

        &:nth-of-type(5) {
            background: #43c243;
            animation-delay: 0.8s;
        }

        &:nth-of-type(6) {
            background: #069306;
            animation-delay: 1.0s;
        }

        &:nth-of-type(7) {
            background: #038503;
            animation-delay: 1.2s;
        }
    }

    &.small {
        span {
            display: inline-block;
            vertical-align: middle;
            width: 1em;
            height: 1em;
            margin: .19em;
            border-radius: .5em;
        }
    }


}

.loader-root .loading-title {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 10px !important;
    margin: 10px !important;
}

@keyframes loading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
