@import "styles/--colors.scss";
@import "styles/--variable.scss";
@import "styles/--breakpoint";

:root{
  --header-height: 97px
}

html{
  -webkit-tap-highlight-color: transparent;
}

.dark{
  body{
    background: #161616;
    //@apply bg-neutral-900;
  }
}
body{
  //background: #f0f3f8;
  background: #f9fff9;
  font-family: Roboto, serif !important;
  font-weight: 300;
  font-size: 14px;
  color: #212121;
  line-height: 1.4;

  .bg-overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 3;
    top: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
.header_space{
  height: var(--header-height);
}

.bg-facebook{
  background: #43609c;
}

.dark .card{
  background: #2a2a2a;
  box-shadow: 0px 9px 14px 9px rgba(42, 42, 42, 0.3), -1px 1px 18px -15px rgba(52, 52, 52, 0.45), 0 14px 20px 0px rgba(35, 35, 35, 0.81);
  color: white;
}

.card{
  //box-shadow: 0px 9px 14px 9px rgb(149 149 149 / 5%), -1px 1px 18px -15px rgb(77 179 75 / 45%), 0 14px 20px 0px rgb(226 255 226 / 60%);

  box-shadow: 0px 9px 14px 9px rgb(149 149 149 / 5%), -1px 1px 18px -15px rgb(48 48 48), 0 14px 20px 0px rgb(223 223 223 / 33%);
  background: white;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
  //box-shadow: 0px 9px 14px 9px rgb(149 149 149 / 5%), 0 3px 15px 2px rgb(156 217 156 / 32%), 0 14px 20px 0px rgb(204 251 204 / 32%)
}

.center_in_div > div{
    display: flex;
    justify-content: center;
}


h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  
}
img{ font-size: 12px}

.text-link{
  @apply text-neutral-400 hover:text-green-500 cursor-pointer;
}


.App-Content{
  position: relative;
  &-mask {
    opacity: 0;
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    transition: all .5s ease;
    &.mask__open {
      width: 100%;
      //background: rgba(196, 79, 185, 0.96);
      background: #10101063;
      height: 100vh;
      opacity: 1;
    }
    &.mask__close {
      opacity: 0;
    }
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape){
  .f{
    display: none;
  }
};


.bg-transparent{background: transparent !important }
.bg-primary{background: $primary;}
.bg-secondary{background: $secondary;}
.bg-danger{background: $danger;}

.right{
  margin-left: auto !important; 
  display: block;
}

.text-image{
    display: flex;
    align-items: center;
    justify-content: center;    
    background: white;
    margin: 10px;
    margin-left: 0px
}
.h-100{
    height: 84px;
    display: block;
}
.p-right{
  position:  absolute;
  right: 0;
  top: 0;
}

.console_root{
  /* width: 100%; */
  background: #e7e7e7;
   position: fixed;
   top: 20vh;
   height: 300px;
   overflow: auto;
   box-shadow: 0 3px 10px 2px grey;
   margin: 20px;
   box-sizing: border-box;
}

table{
  width: 100%;
}

.fa-pen{
  margin-right: 5px;
}
i:hover{
  color: #24ffd1;
}

.selected_values{
  display: flex; 
  align-items: center;
  .selected_item{
    &:nth-child(1){
      margin: 0;
    }
    border-radius: 3px;
    margin: 5px;
    color: white;
    background: #597bff;
    padding: 5px 8px;
    font-weight: 500;
    /* padding: 10px; */
  }
}


table{
  border: none;
  border-collapse: none;
tr{
  &:nth-child(odd){
    //background: #ccffcc;
  }
}

td{
  margin: 5px 0;
  /* background: red; */
  padding: 10px;
  img{
    display: flex;
  }
}

.brand_logo{
  width: 100px;
  height: 100px;
  overflow: hidden;
  img{
    width: 100%;
  //  height: 100%;
  }
}
}
.static-image-thumbs{
  width: 100px;
  margin: 10px       ;
  img{
    width: 100%;
    
  }
}

.product-gallley{
  display: flex; 
  flex-wrap: wrap;
  h1{
    font-size: 16px;
  }
}


.console_root{
  /* position: relative; */
}
.log-close-btn{
  position: absolute;
  top: 0;
  right: 0;
}

.error_popup{
  background: #e74b07;
  margin: auto;
  margin-top: 30px;
  color: white;
  i{ color: white;}
}



//.p-relative{
//  position: relative;
//}
//
//.d-flex{
//  display: flex;
//}

h1, h2, h3, h4,h5,h6, ul, li, p{
  margin: 0;
  padding: 0;
}



// shared styles.............
.off-div{
  justify-content: center;
  span{
    font-weight: 400;
    font-size: 13px;
  }
  span:nth-child(1){
    color: grey;
    margin-right: 10px;
    text-decoration: line-through;
    text-decoration-color: #8f8f8f;
  }
  span:nth-child(2){
    color: rgb(149, 90, 253);
  }
}
.h117{
  height: 142px;
}
.product_title{
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  color: var(--gray-9);
}

.h1{@apply dark:text-white text-neutral-900 font-medium text-3xl}
.h2{@apply dark:text-white text-neutral-900 font-medium text-xl}
.h3{@apply dark:text-white text-neutral-900 font-medium text-lg}
.h4{@apply dark:text-white text-neutral-900 font-medium text-sm}
.p{@apply dark:text-neutral-200 text-neutral-500  }

.text-grey{color: #7d7d7d}
.text-primary{color: var(--color-primary);}
.bg-primary{background: var(--color-primary);}
.bg-transparent{background: transparent !important; color: black !important}



.content-container{
  //margin: 4px;
  background: var(--color-white-bg);
}
.content-header{
  border-bottom: 1px solid rgba(192, 192, 192, 0.41);
  padding: 10px 0px;
}
.section_title{ font-weight: 500 }
.event-none{pointer-events: none}

.slick-arrow{
  transform: translateY(-50px) !important;
}

.product-404{
  margin: auto;
  background: rgba(255, 255, 255, 0.35);
  padding: 20px;
  &__title{
    color: #737373;
    margin-bottom: 10px;
    padding: 0px;
    font-size: 20px;
    text-align: start;
    font-weight: 500;
  }
  &__causes{
    font-size: 13px;
    font-weight: 400;
    color: #8f8f8f;
    li{
    
    }
  }
}

.custom_scrollbar{
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(211, 211, 211, 0.46);
    //outline: 1px solid slategrey;
  }
}

table{
  padding: 20px;
}
table td {
  padding: 0;
  margin: 0;
}

.backdrop{
  pointer-events: none;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  z-index: 99;
  background-color: rgba(38, 38, 38, 0.88);
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: transform, opacity;
  overflow-y: hidden;
  overscroll-behavior: contain;
  &--show{
    opacity: 1;
    visibility: visible;
    overflow: auto;
    .modal-box{
      pointer-events: auto;
    }
  }
}
.dark{
  .modal-box{
    background-color: #262626;
  }
}
.modal-box{
    max-height: calc(100vh - 5em);
    --tw-bg-opacity: 1;
    background-color: white;
    padding: 1.5rem;
    transition-property: color,background-color,border-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    width: 91.666667%;
    max-width: 32rem;
    --tw-scale-x: .9;
    --tw-scale-y: .9;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-top-left-radius: var(--rounded-box,1rem);
    border-top-right-radius: var(--rounded-box,1rem);
    border-bottom-left-radius: var(--rounded-box,1rem);
    border-bottom-right-radius: var(--rounded-box,1rem);
    box-shadow: 0 25px 50px -12px #00000040;
    overflow-y: auto;
    overscroll-behavior: contain;
}

.block-page{
  overflow: hidden;
  pointer-events: none;
  user-select: none;
}



/******* dashboard sidebar **************/
.dashboard-container {

  @include get_down(1910px){
    max-width: 1400px;
    margin: auto;
  }

  @include get_up(1921px){
    max-width: 1400px;
    margin: auto;
  }

  .sidebar {
    color: #2f2f2f;
    position: sticky;
    top: var(--header-height);
    bottom: 0;
    height: 100%;
    transition: width .3s ease;
    box-shadow: 2px 0 9px -3px #2c2c2ca1;

    @include get_down(800px) {
      position: relative;
      top: auto;
      .sidebar_content {
        overflow: visible;
        height: 100%;
        //width: 300px;
        //overflow-y: auto;
        //height: calc(100vh - var(--header-height));
      }
    }

    &.inline-mode {
      .sidebar_content {
        width: 60px;
      }
    }

    &_content {
      width: 300px;
      overflow-y: auto;
      height: calc(100vh - var(--header-height));
    }
  }


  .content {

  }

  .menu-item {
    @apply flex gap-x-2 items-center text-neutral-700 dark:text-neutral-300 font-normal hover:bg-green-300/20 p-2 cursor-pointer
  }

  .menu-item_inline {
    cursor: pointer;

    .menu-item-tooltip {
      display: none;
    }

    .menu-item-icon:hover ~ .menu-item-tooltip {
      display: block;
    }


    // nested sub menu

    .menu-item-tooltip-sub {
      display: none;
    }

    .menu-item-icon-sub:hover ~ .menu-item-tooltip-sub {
      display: block;
    }

  }

}