@import "src/styles/--breakpoint";


.dashboard-sidebar {

    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;

    @include get_down(1024px) {
        transition: all .4s ease;
        left: -100% !important;
        position: fixed;
        left: -100%;
        z-index: 2000;
        top: 0px;
    }

    --sidebar-width: 288px;


    .sidebar-mobile_show {
        left: 0 !important;

        &::-webkit-scrollbar {
            height: 0px;
            width: 0px;
        }

        &::-webkit-scrollbar-track {
            //background: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
            background: transparent;
        }
    }
}

.dashboard-backdrop {
    @include get_up(1024px) {
        display: none;
    }
}

.sidebar-active {
    @apply bg-primary-500 text-white;
    img {
        filter: invert(1);
    }
}