.rs-input {
	border: 1px solid #7698e8;
	border-radius: 4px;
	padding: 8px 10px;
	margin: 0 !important;
	outline: none;
}

.btn-navy{
	background: #7698e8;
	padding: 8px 10px;
	outline: none;
	border-radius: 4px;
	color: white;
}