



.admin-navigation{
    min-height: 60px;
    display: flex;
    align-items: center;
    z-index: 1001 !important;
    @apply shadow-xxs dark:bg-neutral-800 bg-white dark:text-dark-10 text-dark-800 fixed w-full;
    svg{
        @apply  dark:text-dark-10 text-dark-800
    }

    .admin-navigation-container{
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
}