
.table-responsive {
    box-sizing: border-box;
    border-radius: 0.4rem;
    //overflow: hidden;
    overflow-x: auto;
    table {
        width: 100%;
        box-sizing: border-box;
        border-spacing: 0;

        thead {
            tr th {
                padding: 12px 20px;
                font-weight: 600;
                //color: #334155;
                @apply text-gray-700 dark:text-dark-5;
                //background: #fff !important;

                @apply bg-dark-0 dark:bg-dark-800
            }
            .thead-item {
                display: flex;
                align-items: center;
            }
        }

        tbody {
            //@apply bg-dark-0 dark:bg-dark-600;
            tr{
                @apply bg-[#f4faff] dark:bg-dark-900 dark:text-dark-50 text-gray-700;
            }

            tr td {
                padding: 20px 16px;

                &:nth-child(1){
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }

            tr:nth-child(2n) {
                @apply bg-dark-0 dark:bg-dark-800;

            }
        }

    }


    .table-cell {
        //word-break: break-word;
        padding: 10px;
    }

    .pagination {
        margin-top: 40px;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }
}


