@import "src/styles/index.scss";
@import "src/styles/--breakpoint.scss";
@import "src/styles/--mixin.scss";


li {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
}

.navigation {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 1000;

    .top-navigation{
        @apply bg-white dark:bg-neutral-900 py-1 hidden lg:block;
    }

    .top_navigation {
        padding: 5px 10px;
        background: var(--color-grey-grade16);
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__right {
            display: flex;
            justify-content: flex-end;
            flex: 1;
        }

        @include get_down(500px){
            background: red;
            display: none !important;
        }


        .top_navigation_news {
            flex: 2;
            /* width: 100%; */
            .hot_news {
                color: var(--color-flash-green);
                margin: 0;
                padding: 0;
                font-size: 14px;
                text-align: center;;
            }
        }
    }

    .main-nav {

        @apply bg-dark-5 dark:bg-dark-750;

        .main-nav--container {
            display: flex;
            justify-content: space-between;
            color: rgb(29, 29, 29);
            padding: 5px 10px;
            align-items: center;
            max-width: 1200px;
            margin: auto;

            .center_nav {
                display: flex;

                li {
                    padding: 10px;
                    font-weight: 500;
                }
            }

            .nav_action {
                display: flex;
                align-items: center;

                .auth_nav_item {
                    margin-left: 10px
                }

                i {
                    padding: 0 5px;
                }
            }
        }

        .nav-text{
            @apply dark:text-dark-10 text-neutral-700;
        }
    }

    i {
        color: red
    }
}

@include dark(){
    .desktop-navigation-input-textbox{
        @apply bg-neutral-800 text-dark-30
    }
}

.desktop-navigation-input-textbox{
    background: rgba(220, 220, 220, 0.45);
    justify-content: space-between;
    width: 100%;
    display: flex;
    padding: 10px 15px;
    border-radius: 20px;
    @apply text-neutral-700;
    font-weight: 400;

    input, select{
        outline: none;
        border: none;
        background: transparent;
        color: inherit;
        font-weight: 400;
        &::placeholder{
            font-weight: inherit;
            color: inherit;
        }
    }

    input{
        width: 100%;
        padding-left: 10px;
    }
    
    .desktop-navigation-input-search-icon{
        cursor: pointer;
    }
}

.dark .nav_fixed {
    box-shadow: 0 1px 20px 9px rgba(28, 28, 28, 0.45);
}

.nav_fixed {
    box-shadow: 0 2px 18px -4px #1c1c1ca3;
}

.logo_nav {
    a {
        font-size: 25px;
        color: #282828;
    }
}

.cart_menu {
    position: relative;

    .badge {
        position: absolute;
        top: -20px;
        border-radius: 100px;
        left: 0px;
        background: #a182fd;
        color: white;
        padding: 2px 5px;
        font-size: 12px;

    }
}

.center_nav {

}

.auth_nav_item {
    position: relative;
    display: flex;
    align-items: center;

}

.event-none {
    pointer-events: none;
}

.nav-popup-menu {
    color: black;
    transition: all .5s ease;

    &-enter {
        opacity: 0;
        transform: translateY(50px);
    }

    &-enter-active {
        opacity: 1;
        transform: translateY(0);
        transition: all .5s ease;
    }

    &-exit {
        opacity: 1;
        transform: translateY(0px);
        transition: all .5s ease;
    }

    &-exit-active {
        opacity: 0;
        transform: translateY(50px);
        transition: all .5s ease;
    }
}

.user-avatar {
    width: 20px;
    margin-right: 5px;
    border-radius: 100%;
}

// cart Table
.cart_table {
    min-width: 400px;
    border-collapse: collapse;

    .title_td {
        display: flex;
    }

    thead {
        tr {
            th {
                font-weight: 500 !important;
            }
        }
    }

    td {
        background: white;
    }

    tr {
        background: transparent !important
    }

}

.cart_image_div {
    width: 52px;
    height: 50px;
    min-width: 10px;
    min-height: 10px;
    display: inline-flex;
    justify-content: center;

}

.cart_image {
    max-width: 50px;
    max-height: 50px;
    display: table-cell;
    object-fit: initial;

    img {
        width: 100%;
        height: 100%;
        /* display: flex; */
        max-height: 100%;
        min-height: 100%;
        ///* height: auto; */
        ///* display: table-cell;
    }
}


.top-nav-select{
    outline: none;
    &:nth-child(1){
        margin-right: 4px;
    }
    select{
        outline: none;
    }
}

.hambargar-menu-icon{
    display: none;
    @include get_down(1080px){
        display: block;
    }
}