
.category-dropdown{
    @apply absolute shadow-2xl rounded-lg flex-col md:flex-row;
    padding: 20px 10px;
    top: 100%;
    transform: translateX(-50%);
    justify-content: space-between;
    background: white;
    display: flex;

    &__submenu-panel{
        position: relative;
        &__right{
            padding: 0px 30px;
            h4{
                @apply hover:bg-green-500/10 hover:text-green-450 rounded;
                white-space: nowrap;
                cursor: pointer;
                padding: 5px;
            }
        }

        .category-sub-item{
            @apply p-2 rounded
        }
        .active-category-sub-item{
            @apply bg-green-500/10 text-green-450;
            h4{
                @apply font-semibold
            }
        }

    }

}

