

.container {
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  padding-left: 8px;
  padding-right: 8px;
  //padding-left: 15px;
  //padding-right: 15px;
}
.container-1200 {
  max-width: 1200px;
}

.container-1688 {
  max-width: 1688px;
}
.container--no-gutter{
  padding-left: 0;
  padding-right: 0;
  margin: auto;
}



