.pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    .pagination_item {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        //background: #e3e3e3;
        //color: #242424;
        margin: 5px;
        cursor: pointer;

        transition: background-color .4s ease, color .4s ease;
        &:hover{
            background: var(--primary-400);
            color: white;
        }
    }

    .active_item {
        color: white;
        background: var(--primary-400);
    }
}