
.modal {
    position: fixed;
    z-index: 1003;
    width: 100%;
    transform: translateX(-50%);
    overflow-y: auto;
    cursor: auto;
    max-height: calc(100vh - 5em);
    min-width: 300px;
    left: 50%;
    top: 20%;
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    overflow-y: auto;
    overscroll-behavior: contain;
    &:before{
        content: "";
        width: 100%;
        height: 300px;
        position: fixed;
        left: 0;
        top: 0
    }
}



.modal-close_icon {
    margin-left: 10px;
    position: absolute;
    top: 0;
    right: 15px;
}

.my-modal {
    color: red !important;
    transition: all .3s ease;

    &-enter {
        opacity: 0;
        transform: translateY(300px) translateX(-50%);
        transition: all .3s ease;
    }

    &-enter-active {
        opacity: 1;
        transform: translateY(0px) translateX(-50%);
        transition: all .3s ease;
    }

    &-exit {
        opacity: 1;
        transform: translateY(0px) translateX(-50%);
        transition: all .3s ease;
    }

    &-exit-active {
        opacity: 0;
        transform: translateY(100px) translateX(-50%);
        transition: all .3s ease;
    }

}
