@import "src/styles/--mixin";
@import "src/styles/--breakpoint";

.latest-product {
    @apply grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5  gap-2 md:gap-3 lg:gap-5 xl:gap-6;

    .product-item {

        @apply bg-white;
        border-radius: 5px;
        padding: 20px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0px 1px 17px -3px rgb(100 100 100 / 25%);

        @include get_down(500px) {
            height: 270px;
            .product-item-img {
                max-height: 200px;
                height: 200px;
            }
        }

        @include get_down(400px) {
            .product-item-img {
                max-height: 120px;
                height: 120px;
            }
        }


        .product-item-img {
            height: 150px;


            img {
                width: 100%;
                height: 100%;
                //aspect-ratio: 1/1;
                object-fit: contain;
                object-position: top center;
            }
        }

        .product-item-content {
            padding: 15px 10px;

            h4 {
                font-size: 14px;
                font-weight: 300;
                @apply dark:text-dark-20 text-dark-800;
                @include get_down(500px) {
                    font-size: 12px
                }

            }

            .price-row {
                margin-top: 10px;
                @apply dark:text-dark-10 text-dark-800;
                .price {
                    font-size: 14px;
                    font-weight: 400;
                    @include get_down(500px) {
                        font-size: 12px
                    }
                }

                .discount {
                    @apply bg-primary-600;
                    padding: 2px 6px;
                    border-radius: 5px;
                    font-weight: 400;
                    color: white;
                }
            }

            @include dark() {
                .product-item-content {

                }
            }

        }
    }

    @include dark() {
        .product-item {
            @apply bg-dark-700;
            box-shadow: 0px 2px 15px -3px rgb(10 10 10 / 58%);
            //background: red;
        }
    }
}