.dark .popup{
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.69) !important;
}
.popup{
  box-shadow: 0 2px 14px -4px #88978b;
  /* padding: 10px; */
  /* margin: 10px; */
  min-width: max-content;
  display: block;
  position: absolute;
}


.my-popup{
  color: red !important;
   transition: all 1s ease;
  &-enter {
    opacity: 0;
    transform: translateY(300px);
   transition: all 1s ease;
  }
  &-enter-active {
    opacity: 1;
     transform: translateY(0px);
    transition: all 1s ease;
  }
  &-exit {
    opacity: 1;
    transform: translateY(0px);
       transition: all 1s ease;
  }
  &-exit-active {
      opacity: 0;
      transition: all 1s ease;
  }
    
}
