@import "src/styles/--breakpoint";


.product_details{
  margin-top: 10px;
  display: flex;
  @include get_down(1050px){
    flex-wrap: wrap;
    .product_image_view-col{
      width: 100% !important;
        margin: auto;
      .fixed_section{
      width: 100% !important;
      
      }
      
    } 

    .product_description_col{
      min-width: 100%;
      margin-top: 10px;
      margin-left: 0;
    }
  }

}

.product_image_view-col{
  position: relative;
  box-sizing: border-box;
  width: 420px;
  
  .fixed_section{
    //position: fixed;
    //top: 127px;
    //left: 122px;
    border: 1px solid rgba(179, 179, 179, 0.411);
    padding: 10px;
    background: white;
    box-sizing: border-box;
    width: 420px;
    //height: 100vh;
  
  }

  // overflow: hidden;
  
  &--full-image{
    display: block;
    //height: 300px;
    margin-left: 65px;
    img{
      width: 100%;
      height: 100%;
    }
  }

  .product-photo--sidebar{
    position: absolute;
    border: 1px solid var(--light-gray-8);
    padding: 5px 10px;
    margin: 10px;
    //height: 321px;
    // border-left-color: ;


    left: 0;
    top: 0;
    .image_list{
      overflow-y: scroll;
      height: 321px;
      &::-webkit-scrollbar{
        width: 1px;
      }
      &::-webkit-scrollbar-thumb{
        background: transparent;
        color: green;
      }
      &::-webkit-scrollbar-track{
        background: transparent;
        color: green;
      }
    }
  
    .image_list_each-div{
      display: flex;
      width: 35px;
      //height: 45px;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 45px;
      padding: 3px;
      margin: 5px;
      img {
        width: 80%;
        display: flex;
      }
    }
    .active_image{
      display: flex;
      border: 1px solid var(--color-primary);
    }
    //.bb{border-bottom-color: red !important;}
  }

}



.add_wish_icon{
  width: 30px;
  height: 30px;
  background: white;
  box-shadow: 0 2px 4px 1px #73737375;
  border-radius: 100px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 14px;
  right: 20px;
  color: var(--color-primary);
}

.product_description_col{
  border: 1px solid rgba(179, 179, 179, 0.411);
  position: relative;
  padding: 10px;
  margin-left: 10px;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
}


.description_key{
  // flex: 2; 
  flex-basis: 200px;
  font-size: 15px;
}
.description_key_att{
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 500;
}
.description_value{
  flex: 12;
}

.description_section{
  background: var(--color-grey-grade7);
  padding: 5px 10px;
  margin: 2px 0px;
}



.description_key--value{
  font-size: 14px;
  color: #212121;
  font-weight: 400;
}
.description_section_row{
  //background: red;
  padding: 1px;
  &:not(:last-child){
    border-bottom: 1px solid #e0e0e0;
  }
  .description_key--value{
    flex: 12;
  }
  .description_key--key{
    flex: 1;
    flex-basis: 100px
  }
}

.disclimer{
  .strong{
    font-weight: 500;
  }
  p{
    font-size: 14px;
  }
}

.question_answer_section{
  .question_answer_root{
    .question_answer{
      background: var(--color-grey-grade7);
      &:not(:last-child){
        border-bottom: $border
      }
      .question{
      
      }
      .answer{
      
      }
    }
  }
}

.rating_badge{
  display: flex;
  align-items: center;
  width: max-content;
  padding: 0 4px;
  background: var(--color-primary);
  border-radius: 3px;
  color: white;
  span{
    font-size: 12px;
    line-height: 20px;
    min-width: 6px;
  }
  i{
    margin-left: 3px;
      font-size: 8px;
  
  }
}
.rating_and_review{

}

.rating_root {
  .rating {
    padding: 5px 10px;
    &:not(:last-child){
      //border-bottom: $border;
      margin: 10px 0px;
    }
    background: #f9f9f9;
    //background: #f5f5f5cc;;
  }
}

.rate {
  display: flex;
  align-items: center;
  
  .user_rate-wrapper {
    position: relative;
    background: #ececec;
    width: 100px;
    height: 5px;
    border-radius: 3px;
    display: inline-block;
    .user_rate{
      position: absolute;
      top: 0;
      left: 0;
      width: 20%;
      height: 5px;
      background: var(--color-primary);
      border-radius: 3px;
    }
  }
}
.rating-star{
  min-width: 40px;
}
.rate-amount{
  font-size: 14px;
}
.big-rating{
  span{
    font-size: 40px;
    width: max-content;
  }
  i{
    font-size: 25px;
  };
}
.customer_gallery{
  display: flex;
}


.highlights {
  .highlight_item {
    position: relative;
    //color: red;
    //font-size: 14px !important;
    padding-left: 15px;
    &:before{
        content: "";
        height: 6px;
        width: 6px;
        position: absolute;
        top: 6px;
        left: 0;
        border-radius: 50%;
        background: #c2c2c2;
      }
    }
  }
