@import "src/styles/--breakpoint";
@import "src/styles/--mixin";


:root {
    --sidebar-width: 300px;
    --sidebar-width-mobile: 250px
}

@include dark(){

}
.sidebar {
    @apply dark:bg-dark-750 bg-white dark:text-dark-10 text-dark-800 dark:shadow-md;
    z-index: 998;
    --sidebar-width: 260px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
    position: sticky;
    top: var(--header-height);
    width: var(--sidebar-width);
    min-width: var(--sidebar-width);
    max-width: var(--sidebar-width);
    transition: left .3s ease;
    left: -260px;
    overflow-y: auto;
    max-height: calc(100vh - var(--header-height));
    box-shadow: 0 1px 14px -1px #3434345c;

    &::-webkit-scrollbar {
        height: 1px;
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        //background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(226, 226, 226, 0);
    }


    &.sidebar-mobile {
        transition: all .4s;
        @include get_down(1024px) {
            position: fixed;
            left: -100%;
            z-index: 3001;
            width: var(--sidebar-width-mobile);
            top: 0px;
        }
    }

    &.sidebar-mobile_show {
        left: 0;

    }

    &.sidebar-mobile_hide {
        left: -100%;
    }

    .sidebar-fixed-bar {
        width: calc(10px + var(--sidebar-width-mobile));
        position: fixed;
        @apply shadow-xxs;
    }
}

.sidebar-right {
        &.sidebar-mobile {
            @include get_down(980px) {
                right: -100% !important;
                transition: all .4s ease;
            }
        }
        &.sidebar-mobile_show {
            right: 0 !important;
            left: auto;
        }

        &.sidebar-mobile_hide {
            right: -100% !important;
        }

}

.sidebar-list-section{
    & >  p {
        @apply text-dark-800 dark:text-dark-100 text-sm;
    }
    margin-top: 10px;
    margin-bottom: 4px;

    & >  div {
        margin-left: 20px;
    }
}

.sidebar-list-item{
    @apply flex items-center justify-between py-2 px-2 rounded-md gap-x-1;
    p{
        @apply text-dark-300 dark:text-dark-50 font-normal text-sm
    }

    .item-icon{
        svg{
            font-size: 12px;
        }
    }
}