
.seller-products-grid {
    @apply grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-8;
    .seller-product {
        box-shadow: 0 1px 14px -4px rgb(40 40 40 / 22%);
        width: 100%;
        padding: 10px;
        border-radius: 5px;

        &-image {
            margin: auto;
            height: 100px;
            width: 100px;

            img{
                object-fit: contain;
                width: inherit;
                height: inherit;
            }
        }
    }
}