
.carousel-root{
  position: relative;
  overflow: hidden;
  .carousel{
    display: flex; 
    flex-wrap: nowrap;
    transition:  all 1s ease;
  }
}
.carousel-item{
   display: block;
   width: 100%;
   transition:  all 1s ease;
}

@keyframes f{
  0%{transform: translateX(-100vw)}
  100%{transform: translateX(0)}
}

@mixin haft{
    top: 50%;
    transform: translateY(-50%);
}

.carousel-prev-btn{
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
  @include haft
}
.carousel-next-btn{
  position: absolute;
  right: 0;
  @include haft
}