
.product-sizes {
    @apply flex flex-wrap;

    gap: 5px;

    .product-size {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: block;
        cursor: pointer;
    }
}
