
.active-menu-item{
  background: rgb(60 204 111 / 1);
  color: white !important;
  &:hover{
    background: rgb(12, 199, 78) !important;
  }
}

//.sub-menu-item__expanded {
//  background: rgb(60 204 111 / 1);
//  color: white;
//  &:hover{
//    background: rgb(60 204 111 / 1) !important;
//  }
//}

.sub_menu {
  box-sizing: border-box;
  //padding-left: 10px !important;
  margin-top: 0;
  color: green;
  transition: all 1s ease;
}


.sub_menu_animation {
  height: 0;
  overflow: hidden;
  transition: all .5s ease;
}

.sub_menu_animation__expand {

}

.sub_menu_animation__collapse {
}
