
.input-dropdown{
  background: white;
  padding: 5px 10px;
  box-shadow: 0px 4px 6px 0px #2f2f2f61;
  max-height: 200px;
  overflow-y: auto;
  li{
    font-size: 14px;
    font-weight: 400;
    padding: 2px 5px;
    &:hover{
      background: #f3f2f2;
      cursor: pointer;
      transition: background .2s ease;
      color: var(--color-primary);
    }
  }
}
.active-item{
  background: #4e7aff;
  color: white;
}