$primary: #502cff;
$secondary: rgb(16, 216, 16);
$danger: #ff1616; 


$white: #fff;
$black: #000;

$dark-A400: #242424;
$light-A400: #f0f0f0;

$shadow-d1: 0 1px 20px 2px grey;
$shadow-d2: 1px 1px 0 rgb(0 0 0 / 16%);
$shadow-d3: 0 2px 4px 0 rgb(0 0 0 / 8%);
