
$shadow-d1: 0 1px 20px 2px grey;
$shadow-d2: 1px 1px 0 rgb(0 0 0 / 16%);
$shadow-d3: 0 2px 4px 0 rgb(0 0 0 / 8%);
$shadow-d4: 0px 2px 4px 0px #7575759e;
$shadow-d5: 0 1px 3px 0px #d0d0d0;


$shadow-1: 0 0 10px 2px rgba(44, 42, 42, 0.473);
$shadow-2: 0 0 6px 1px rgb(113 113 113 / 30%);
$shadow-3: 0 1px 8px 0 rgb(0 0 0 / 6%);